.voirCompetition{
    padding-top: 15vh;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
  }
  
  .boutonMenu{
    margin-left:2vh;
  }

  h1{
    color:black;
    font-weight: bold;
  }
  
  .divCartes{
    padding-top: 5vh;
  }
  
  .cartes{
    max-width: 35vh;
    margin-left:2vh;
    min-height:31vh;
  }
  
  img{
    max-width: 15vh;
    max-height: 15vh;
  }
  
  
  .thumbnail{
    background-color: rgba(255,255,255,0.2);
      }
  
  h2{
    color:black;
    font-weight: bold;
    font-family: Paytone One;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align:center;
  }
  
  /* .panel{
    background-color: rgba(255,255,255,0.2);
    border: 2px solid black;
    margin-left:6vh;
    padding-top:1vh;
    padding-bottom: 1vh;
  } */
  
  .bouton {
     border-radius: 20px;
     color: #FFFFFF;
     font-family: Arial;
     font-size: 15px;
     padding: 10px;
     background-color: #51A4F6;
     text-shadow: 1px 1px 20px #000000;
  }
  
  .bouton:hover {
     background: #1E62D0;
  }
  