{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajoutPhoto.css') }}">
{% endblock %}
{% block main %}
<div class="container-fluid" id="contmain">
    <h1 class="text-center titre" id="nom_equipe"> Ajouter des photos à "{{ tournoi.intituleT }}"</h1>
    <div class="container divCenter">
        <!-- Example row of columns -->
        <form method="post" action="/tableau_de_bord/{{ tournoi.idT}}/confirmer_photo" enctype="multipart/form-data">

            <label for="mon_fichier">Fichier (tous formats | max. 1 Mo) :</label><br />

            <!-- <input type="hidden" name="MAX_FILE_SIZE" value="1048576" /> -->

            <input type="file" name="mon_fichier" id="mon_fichier" /><br />

            <label for="titre">Titre du fichier (max. 50 caractères) :</label><br />

            <input type="text" name="titre" value="Titre du fichier" id="titre" /><br />

            <label for="description">Description de votre fichier (max. 255 caractères) :</label><br />

            <textarea name="description" id="description"></textarea><br />

            <input type="submit" name="submit" value="Envoyer" />



        </form>
    </div>
</div>
{% endblock %}