{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block navbar %}

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/static/icons/CML_Logo.png" alt="logo" width="28" height="25">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Accueil</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/creer_competition">Créer compétition</a></li>
        {% endif %}
        <li class="dropdown">
          <a class="dropdown-toggle "id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Voir compétitions
          </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/voir_competitions_inactives">Compétitions inactives</a></li>
              <li><a href="/voir_competitions_actives">Compétitions actives</a></li>
              <li><a href="/voir_competitions_terminees">Compétitions terminées</a></li>
            </ul>
        </li>
        {% if current_user.is_authenticated %}
        <li><a href="/tableau_de_bord">Tableau de bord</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li>
          <a>{{ current_user.nomAdmin }}</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}">
            <span class="glyphicon glyphicon-log-out" title="Logout"></span>
          </a>
        </li>
        {% endif %}{% if not current_user.is_authenticated %}
          <li><a href="/connexion">Se connecter</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
{% block content %}
<div id="main" class="" role="">
  {% block main %}{% endblock %}
</div>
{% endblock %}

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Voir compétitions
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Compétitions actives</a></li>
    <li><a href="#">Compétitions terminées</a></li>
  </ul>
</div>
