{% extends "base.html" %}
{% block styles %}
{{ super()}}
<link rel="stylesheet" href="/static/css/connexion.css">
{% endblock %}
{% block main %}
<div class="text-center" id="centre">
<form class="form-signin" method="post" role="form" action="{{ url_for('confirmer_ajout_admin') }}">
  {{ form.hidden_tag() }}
  <img class="mb-4" src="./static/icons/CML_Logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

  <label for="login-name" class="sr-only">
    {{ form.username.label }}
  </label>
  <div class="">
      {{ form.username(size=50, class_="form-control", placeholder = "Nom d'utilisateur") }}
  </div>


  <label for="login-pass" class="sr-only">{{ form.password.label }}</label>
  <div class="">
    {{ form.password(size=50, class_="form-control", placeholder = "Password") }}
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Connexion</button>
</form>
</div>
{% endblock %}
