{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photo.css') }}">
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
    <h1 class="text-center">Photos</h1>
    <h2 class="text-center">{{tournoi.intituleT}}</h2>
    <div class="row">
            {% if route == "tableau" %}
            <a href="/tableau_de_bord/{{tournoi.idT}}">
                <button class="boutonMenu btn btn-success btn-lg inputStyle col-md-2">Retour</button>
            </a>
            <a href="/tableau_de_bord/{{tournoi.idT}}/ajouter_photo">
                <button class="boutonMenu btn btn-success btn-lg inputStyle col-md-2">Ajouter une photo</button>
            </a>
            {% endif %}

            {% if route == "voirCompet" %}
            <a href="/voir_competition/{{tournoi.idT}}">
                <button class="boutonMenu btn btn-success btn-lg inputStyle col-md-2">Retour</button>
            </a>
            {% endif %}
    </div>
    <div class="container divCartes">
        <div class="row center-block">
            {% for i in range(photos|length) %}
                <div class="col-md-4 col-sm-6 thumbnail cartes">
                <img class="center-block" src="{{  images[i] }}" alt="Generic placeholder image" width="140" height="140">
                <p class="text-center">{{ photos[i].descPhoto }}</p>
                <button class="bouton center-block" href="#">Voir les détails <span class="glyphicon glyphicon-search"></span></button>
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div>
</div>

{% endblock %}
